flask
pandas
requests
python-dotenv
langdetect
bertopic
jieba
scikit-learn
numpy


sentence-transformers
torch                
umap-learn          
hdbscan   
transformers           
protobuf
sentencepiece